<%- include('partials/header'); -%>

<h1 style="font-family: 'Creepster', cursive;color: #1abc9c "> <%= TITLE %> </h1>
<img src="blog_photo.jpg"  alt="blog_photo" height="400rem" width="700rem">  
<h3 style="font-family: 'Creepster', cursive;color: #1abc9c">post your blogs here</h3>

<%- include('partials/footer'); -%>